.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "posts", :role => "button"} Posts
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown.open
          %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}} 
            #{@current_user.username}
            %b.caret
          %ul.dropdown-menu
            %li{:style => "float: right;"}
              %a{:href => "myposts"} MyPosts
            %li{:style => "float: right;"}
              =link_to 'Logout', logout_path
            %li{:style => "float: right;"}
              =link_to 'Change Password', changepassword_path
          
.container
  .form-signin{:role => "form"}
    - if flash[:alert]
      %p.alert.alert-danger.alert-dismissable{:style => "margin: 20px;"}
        %button.close{:type => "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times
        %strong Warning!
        = flash[:alert]

    = form_tag do
      %fieldset
        %legend Please enter your currrent password and new password.
        = password_field_tag :password, params[:password], {:class => "form-control", :placeholder => "Current Password"}
        = password_field_tag :new_password, params[:new_password], {:class => "form-control", :placeholder => "New Password"}
        = password_field_tag :new_password_confirmation, params[:new_password_confirmation], {:class => "form-control", :placeholder => "New Password Confirmation"}
        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} change password