.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :date => { :target => ".navbar-collapse", :toggle => "collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
      %ul.nav.navbar-nav.navbar-right
        %li.active
          =link_to 'Register', register_path
.container
  .form-signin{:role => "form"}
    - if flash[:alert]
      %p.alert.alert-danger.alert-dismissable{:style => "margin: 20px;"}
        %button.close{:type => "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times
        %strong Warning!
        = flash[:alert]

    = form_tag do
      %fieldset
        %legend Please Log in
        = email_field_tag :email, params[:email], {:class => "form-control", :placeholder => "Email"}
        = password_field_tag :password, params[:password], {:class => "form-control", :placeholder => "Password"}
        = check_box_tag :email
        = label_tag "Remember me"
        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Login