                     
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Project name
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li.dropdown-header Nav header
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link

.container
  .BBS_form
    = form_for @user do |f|
      - if @user.errors.any?
        #error_explanation
          %h2
            = pluralize(@user.errors.count, "error")
            prohibited this user from being registered:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      %fieldset
        %legend Enter User Details
        %div
          = f.label :username
          = f.text_field :username
        %div
          = f.label :email
          = f.text_field :email
        %div
          = f.label :password, 'Password'
          = f.password_field :password
        .checkbox
          %input{:type => "checkbox"} Check me out
        .form-group 
          %button.btn.btn-primary{:type => "submit"} Register 
            