%h1 Listing signins

%table
  %tr
    %th Email
    %th Password
    %th
    %th
    %th

  - @signins.each do |signin|
    %tr
      %td= signin.email
      %td= signin.password
      %td= link_to 'Show', signin
      %td= link_to 'Edit', edit_signin_path(signin)
      %td= link_to 'Destroy', signin, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Signin', new_signin_path
