.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :date => { :target => ".navbar-collapse", :toggle => "collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "/posts", :role => "button"} Posts
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li
            %a #{@current_user.username}
          %li.active
            %a{:href => "/myposts", :role => "button"} MyPosts
          %li
            =link_to 'Logout', logout_path
        - else
          %li.active
            =link_to 'Login', login_path
          %li
            =link_to 'Register', register_path
#index.container
  %ul.breadcrumb.menu.clearfix
    %li
      %a{:href => "/"} Home
      %span.divider
    %li.active
      %a{:href => "/posts"} posts

  .container-fluid
    #main.content
      .form{:role => "form"}
        = form_for @post do |f|
          %fieldset
          .jumbotron
            %h3.entry-title Edit your post

            .form-group{:style => "margin-left: 20px;"}
              = f.label :title, {:class => "subtit"}
              = f.text_field :title, {:class => "form-control"}
            .form-group{:style => "margin-left: 20px;"}
              = f.label :content, {:class => "subtit"}
              = f.text_area :content, {:class => "form-control", :rows => "30", :data => {:provide => "markdown"}}
          #category.jumbotron
            %h3.entry-title Add category
            %p.subtit
              Posts tagged (Add Tag, your content can be more people see)
              = text_field :category, :category_title, {:class => "form-control"}
    
            %p
              %button.btn.btn-sm.btn-primary{:type => "submit"} Commit
    #side.content
      .jumbotron
        .box
        %h4.entry-title Testing
        .content
          %a.btn.btn-success{:href => 'new', :role => 'button'} New Paper