.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li
            %a Hello, world! #{@current_user.username}
          %li.active
            =link_to 'Logout', logout_path
        - else
          %li.active
            =link_to 'Login', login_path
          %li
            =link_to 'Register', register_path
.container


.form{:role => "form"}
  = form_for @post do |f|

    - if @post.errors.any?
      #error_explanation
        %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

    %fieldset
      %h3 Edit your post

      .form-group
        %label.label-info.lead{:for => "Title"} Title
        %input.form-control{:id => "post_title", :name => "post[title]", :type => "text"}
        %select.form-control{:id => "post_seltype", :name => "post[seltype]"}
          %option Original
          %option Reprinted
          %option Translation
      .form-group
        %label.label-primary.lead{:for => "Content"} Content
        
        %textarea.form-control{:id => "post_content", :name => "post[content]", :rows => "30", :style => "width:99.4%;"}
        
        
    %h3 Add category
    %p.subtit
      Posts tagged (Add Tag, your content can be more people see)
    %input.form-control{:id => "post_category", :name => "post[category]", :maxlength => "100", :style => "width:60%; height:30px;", :type => "text"}
    %p
      %button.btn.btn-sm.btn-primary{:type => "submit", :style => "margin-top: 20px"} Commit
