.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :date => { :target => ".navbar-collapse", :toggle => "collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "/posts", :role => "button"} Posts
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li.dropdown.open
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}} 
              #{@current_user.username}
              %b.caret
            %ul.dropdown-menu
              %li{:style => "float: right;"}
                %a{:href => "myposts"} MyPosts
              %li{:style => "float: right;"}
                =link_to 'Logout', logout_path
              %li{:style => "float: right;"}
                =link_to 'Change Password', changepassword_path
        - else
          %li.active
            =link_to 'Login', login_path
          %li
            =link_to 'Register', register_path
#index.container
  %ul.breadcrumb.menu.clearfix
    %li
      %a{:href => "/"} Home
      %span.divider
    %li
      %a{:href => "/posts"} posts
      %span.divider
    %li.active
      %a current post
  .container-fluid
    #main.content
      .jumbotron
        %h3 #{@post.title}
        .info.leader
          - @post.categories.each do |category|
            - category.category_title.split(",").each do |item_title|
              %a.label.label-primary{:href => "#"} #{item_title}
          by
          %a#user #{@post.user.username}
          %abbr.timeago published at #{@post.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s}
        %div#content #{@post.content}
        %div#good_bad
          %button.btn.btn-default.btn-lg{:type => "button"}
            %span.glyphicon.glyphicon-thumbs-up
          %button.btn.btn-default.btn-lg{:type => "button"}
            %span.glyphicon.glyphicon-thumbs-down
      .jumbotron
        %h3.entry-title Comments
        .list-group
        - @post.comments.each do |comment|
          %p.list-group-item-text #{comment.user.username} at #{comment.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s } said: #{comment.body}
      .jumbotron
        %h3.entry-title Type your comment:
        = form_for([@post, @post.comments.build]) do |f|
          %p
            %label{:for => "comment_body"} 
            %br/
            = f.text_area :body, {:class => "form-control", :rows => "5"}
          %p
            %button.btn.btn-sm.btn-primary{:type => "submit"} Commit
    #side.content
      .jumbotron
        .box
        %h4.entry-title Testing
        .content
          %a.btn.btn-success{:href => 'new', :role => 'button'} New Paper