.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li
            %a Hello, world! #{@current_user.username}
          %li.active
            =link_to 'Logout', logout_path
        - else
          %li.active
            =link_to 'Login', login_path
          %li
            =link_to 'Register', register_path

.container 
  %p#notice= notice

  .list-group
    .list-group-item
      %h3.list-group-item-heading #{@post.title}
      %p.list-group-item-heading #{@post.content}


  = link_to 'Edit', edit_post_path(@post) |
  = link_to 'Back', posts_path
