.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "../posts", :role => "button"} Posts
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li
            %a Hello, world! #{@current_user.username}
          %li.active
            =link_to 'Logout', logout_path
        - else
          %li.active
            =link_to 'Login', login_path
          %li
            =link_to 'Register', register_path
.container

  %table
    %tr
      %td
        %dl
          %dt.lead #{@post.title}
          %dd
            - strip_tags(@post.content).split("\n").each do |ipa|
              %p.list-group-item-text #{ipa}
        - @post.categories.each do |category|
          %dt.list_category #{category.category_title}

  %h3{:style => "background-color:gray;line-height: 20px; padding: 5px;"} View Comments
  .list-group
  - @post.comments.each do |comment|
    %p.list-group-item-text{:style => "line-height: 20px; padding: 5px;background-color:#f1f1f1;"}  says:
    %p.list-group-item-text{:style => "line-height: 20px; padding: 5px;"} #{comment.body}

  %h3{:style => "background-color:gray;line-height: 20px; padding: 5px;"} Leave a comment
  %p.subtit
    Type your comment:
  = form_for([@post, @post.comments.build]) do |f|
    %p
      %label{:for => "comment_body"} 
      %br/
      %textarea.form-control{:id => "comment_body", :name => "comment[body]", :rows => "10"}

    %p
      %button.btn.btn-sm.btn-primary{:type => "submit", :style => "margin-top: 20px"} Commit

  = link_to 'Back', posts_path